<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nonochill</title>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<section class="whole" @keyup.space="toggleCertainty" >
			<section class="sidebar page-section" id="sidebar">
				<h1 class="game-title header">NonoChill</h1>
				<sidebar-section title="Play" v-cloak>
					<fieldset>
						<legend>Preset</legend>
						<div class="griddy">	
							<button v-for="i in [5,10,15,20]" class="game-size" @click="generateBoard({width:i})" v-text="`${i}x${i}`"></button>
						</div>
					</fieldset>
					<fieldset>
						<legend>Custom Size</legend>
						<form id="game-custom-form" class="inline flexy" @submit.prevent="generateBoard({width:parseInt(customSize)})">
							<label class="form-field stretch">
								<span class="label">Size</span> 
								<input class="input" type="number" min=0 max="25" name="custom-game-width" v-model="customSize"/>
							</label>
							<input type="submit" value="Play" class="button attach" id="game-custom-form-submit"/>
						</form>
					</fieldset>
					<fieldset>
						<legend>Load Level</legend>
						<form id="game-load-form" class="" @submit.prevent="loadGame">
							<small>Paste code below.</small>
							<textarea v-model="serializedGame" spellcheck="false" onclick="this.focus();this.select()"></textarea>
							<input type="submit" value="Play" class="button" id="load-game-form-submit"/>
						</form>
					</fieldset>
				</sidebar-section>
				<sidebar-section title="Level Creator" v-cloak>
					<form id="game-custom-form" class="inline flexy" @submit.prevent="generateBoard({width:parseInt(createSize),density:0,create:true})">
						<label class="form-field stretch">
							<span class="label">Size</span> 
							<input class="input" type="number" min=0 max="25" name="create-game-width" v-model="createSize"/>
						</label>
						<input type="submit" value="Start" class="button attach" id="create-game-form-submit"/>
					</form>
				</sidebar-section>
				<sidebar-section v-if="!this.uninitialized" :initially-hidden="false" v-cloak title="Game Options">
					<div v-if="!this.isCreating">
						<fieldset :disabled="this.win">
							<legend>Tentative Marks</legend>
							<div class="flexy">
								<label class="form-field">
									<input type="checkbox" v-model="uncertaintyFlag"> On
								</label>
								<div class="buttons">
									<button @click.prevent="clearUncertain">Clear</button>
									<button @click.prevent="confirmUncertain">Confirm</button>
								</div>
							</div>
						</fieldset>
						<fieldset :disabled="this.win">
							<legend>Board</legend>
							<button @click.prevent="clearBoard">Clear Board</button>
						</fieldset>
						
					</div>
					<fieldset>
						<legend>Level Code</legend>
						<small>Copy this code to share this level with others.</small>
						<textarea readonly onclick="this.focus();this.select()" v-model="serialization"></textarea>
					</fieldset>
				</sidebar-section>
			</section>
			<section id="main" class="main page-section">
				<section class="game empty" v-if="this.uninitialized" id="game-sample">
					<section class="vertical clue-list">
						<ul class="solved clue"><li>1</li></ul>
						<ul class="clue"><li>2</li></ul>
					</section>
					<section class="horizontal clue-list">
						<ul class="clue"><li>2</li></ul>
						<ul class="solved clue"><li>1</li></ul>
					</section>
					<section class="board empty">
						<div class="game-row">
							<div class="game-tile" data-state="1"></div>
							<div class="game-tile" data-state="0" data-certainty="0"><p>NONO<br />CHILL</p></div>
						</div>
						<div class="game-row">
							<div class="game-tile" data-state="2"></div>
							<div class="game-tile" data-state="1"></div>
						</div>
					</section>
				</section>
				<section class="game" v-else v-cloak id="game" tabindex="-1" 
						:data-win="win"
						:style="`
							--board-width:${width};
							--board-height:${height};
						`">
					<section id="section-clues-vertical" class="vertical clue-list">
						<ul v-for="clue,i in verticalClues" class="clue" :class="{ highlight: highlight[1]===i}" :data-solved="solved.column[i] ? 1 : 0">
							<li v-for="clueItem in clue" v-text="clueItem"></li>
						</ul>
					</section>
					<section id="section-clues-horizontal" class="horizontal clue-list">
						<ul v-for="clue,i in horizontalClues" class="clue" :class="{ highlight: highlight[0]===i}" :data-solved="solved.row[i] ? 1 : 0" >
							<li v-for="clueItem in clue" v-text="clueItem"></li>
						</ul>
					</section>
					<section id="section-board-game" class="board" @mouseleave="highlight=[null,null]" >
						<div v-for="row,i in board" class="game-row">
							<div v-for="tile,j in row" class="game-tile"
								:class="{highlight: highlight[0]===i || highlight[1]===j}"
								draggable="false"
								:data-state="tile.state" 
								:data-certainty="tile.certainty"  
								@mouseenter="mouseEnterTile(i,j,$event)"
								@mousedown="mouseDownTile(i,j,$event)"
								@mouseup="mouseUpTile(i,j,$event)" >	
							</div> 
						</div>
					</section>
				</section>
			</section>
		</section>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.min.js"></script>
		<script>
			Vue.component("sidebar-section",{
				template: `<div><h2 class="header" @click="toggleHidden">{{title}}</h2><section class="sidebar-section" :class={hidden:hidden}><slot></slot></section></div>`,
				props: {
					title: String,
					initiallyHidden: {
						type: Boolean,
						default: true
					}
				},
				data: function() {
					return { hidden: this.initiallyHidden}
				},
				methods: {
					toggleHidden() { return this.hidden = !this.hidden }
				}
			})
			class Tile {
				constructor(value=0) {
					this.clear(value)
				}
				clear(value=0) {
					this.value = value;
					this.state = 0;
					this.certainty = 1;
				}
				toggle(reverse = false, certain = true) {
					if (reverse) {
						this.state += this.state == 0 ? Tile.MAX_STATE : -1;
					} else {
						this.state += this.state == Tile.MAX_STATE ? -Tile.MAX_STATE : 1;
					}
					this.certainty = certain ? 1 : 0;
				}
				marked() { return this.certainty && this.state == 1 }
			}
			Tile.MAX_STATE = 2;

			const count = n => Array.from(new Array(n),(val,index)=>index+1)
			const sameArrays = (a,b) => a && b && a.length==b.length && a.every((x,i)=>x==b[i]);
			const getRuleForArray = arr => arr.reduce((rule,curr)=>{
				const last = rule.length-1;
				if (curr) rule[last]++;
				else if (rule[last] > 0) rule.push(0)
				return rule;
			},[0]).filter(x=>x)
											
			var game = new Vue({
			  el: '.whole',
			  data: {
			  	customSize: 0,
			  	createSize:0,
			  	isCreating: false,
			  	width: 0,
			  	height: 0,
			    board: [],
			    uncertaintyFlag: false,
			    rules: {},
			    rulesCached: false,
			    solved: {
			  			column: [],
			  			row: []
			  		},
			  	win: false,
			  	highlight: [null,null],
			  	serializedGame: ""
			  },
			  computed: {
			  	uninitialized: function() { return this.board.length == 0 },
			  	verticalClues: function() { return count(this.width).map(i=>this.ruleForColumn(i-1)) },
			  	horizontalClues: function() { return count(this.height).map(i=>this.ruleForRow(i-1)) },
			  	tiles: function() { return this.board.reduce((acc,curr)=>acc.concat(curr),[]) },
			  	serialization: function() { return btoa(this.width + "//" +
							this.verticalClues.map(x=>x.toString()).join("|") + "//" +
							this.horizontalClues.map(x=>x.toString()).join("|"))
			  	}
			  },
			  watch: {
			  	highlight: function() {

			  	}
			  },
			  methods: {
			  	resetBoard() {
			  		this.board = [];
			  		this.rules = {},
			  		this.solved = {
			  			column: [],
			  			row: []
			  		}
			  		this.rulesCached = false
			  		this.uncertaintyFlag = false;
			  		this.win = false;
			  	},
			  	generateBoard({width=5,height=width,density=2/3,create=false}={}) {
			  		this.$children[0].hidden=true;
			  		this.$children[1].hidden=true;
			  		this.resetBoard()
			  		this.width = width;
			  		this.height = height;
			  		this.isCreating = create;
			  		this.board = count(this.height).map(i=> count(this.width).map(j=> new Tile(Math.random() < density ? 1 : 0)) )
			  		
			  		if(!create) {
			  			this.generateRules()
			  		}
			  		
			  		return this.board;
			  	},
			  	generateRules() {
			  		this.rules.column = count(this.width).map(i=> this.ruleForColumn(i-1) )
			  		this.rules.row = count(this.height).map(i=> this.ruleForRow(i-1) )
			  		this.checkAll();
			  		this.rulesCached = true;
			  	},
			  	column(col) { return this.board.map(row=>row[col]) },
			  	row(row) { return this.board[row] || [] },

			  	ruleForColumn(col) { return this.rulesCached ? this.rules.column[col] 
			  							: getRuleForArray( this.column(col).map(tile=>tile?tile.value:0) ) },
			  	marksForColumn(col) { return getRuleForArray( this.column(col).map(tile=>tile.marked()?1:0) ) },
			  	checkColumn(col) { this.solved.column[col] = sameArrays( this.ruleForColumn(col), this.marksForColumn(col) ) },

			  	ruleForRow(row) { return this.rulesCached ? this.rules.row[row]
			  							: getRuleForArray( this.row(row).map(tile=>tile?tile.value:0) ) },
			  	marksForRow(row) { return getRuleForArray( this.row(row).map(tile=>tile.marked()?1:0) ) },
			  	checkRow(row) { this.solved.row[row] = sameArrays( this.ruleForRow(row), this.marksForRow(row) ) },
			  	checkAll() {
			  		count(this.width).map(i=>this.checkColumn(i-1))
			  		count(this.height).map(i=>this.checkRow(i-1))
			  	},
			  	toggle(i,j,e) { 
			  		const tile = this.board[i][j];
			  		if (this.isCreating) {
			  			tile.toggle(e.shiftKey);
			  			tile.value = tile.state % 2;
			  		} else {
			  			if (this.win) return;
			  			const certainty = (this.uncertaintyFlag ? 0 : 1)
				  		if (tile.state !== 0 && tile.certainty !== certainty) {
				  			tile.certainty = certainty
				  		} else {
				  			tile.toggle(e.shiftKey,!this.uncertaintyFlag) 
				  		}
				  		this.checkRow(i);
				  		this.checkColumn(j);
				  		this.checkSolved()
			  		}
			  		
			  	},
			  	toggleCertainty() { this.uncertaintyFlag = !this.uncertaintyFlag },
			  	clearUncertain() {
			  		this.tiles.filter(tile=>tile.certainty == 0).forEach(tile=>tile.clear(tile.value));
			  	},
			  	confirmUncertain() {
			  		this.board.forEach((row,i)=>{
			  			row.forEach((tile,j)=>{
			  				if (!tile.certainty) { tile.certainty =1; this.checkRow(i); this.checkColumn(j) }
			  			});
			  		});
			  		this.checkSolved()
			  	},
			  	clearBoard() {
			  		if (this.win) return;
			  		this.tiles.forEach(tile=>tile.clear(tile.value));
			  		this.solved.column = []
			  		this.solved.row = []
			  	},
			  	checkSolved() {
			  		if (this.solved.column.filter(i=>i).length == this.width && this.solved.row.filter(i=>i).length == this.height) {
			  			this.win = true;
			  		}
			  	},
			  	mouseEnterTile(i,j,e) {
			  		this.highlight = [i,j];
			  		if(e.buttons==1) this.toggle(i,j,e);
			  	},
				mouseDownTile(i,j,e) {
					this.toggle(i,j,e);
				},
				mouseUpTile(i,j,e) {

				},
				loadGame() {
					try{
						const opts = this.deserialize(this.serializedGame);
						this.generateBoard({width:opts.width, density:0})
						this.rules.row = opts.rows;
						this.rules.column = opts.columns;
						this.checkAll()
					} catch(e) {
						this.serializedGame = "INVALID"
					}
					
				},
				deserialize(code) {
					const arr = atob(code).split("//")
					const width = parseInt(arr[0])
					const columns = arr[1].split("|").map(x=>x.split(",").map(x=>parseInt(x)).filter(x=>!Number.isNaN(x)))
					const rows = arr[2].split("|").map(x=>x.split(",").map(x=>parseInt(x)).filter(x=>!Number.isNaN(x)))
					return {width,columns,rows}
				}
			  }
			});
		</script>
	</body>
</html>
