/**/

*,*:before,*:after {
	box-sizing:border-box;
}

html {
	--translucent-white: rgba(255,255,255,0.85);
	--background: #574656;
	--dark-accent: #4a2a3f;
	--dim-accent: #6c5662;
	--light-accent: #ca8aaf;
	--gray-accent: #c1b9b9;
	--highlight-color: #f6f2f3;;
	--sidebar-width: 20em;
}

body {
	font-family:"Umbra";

	margin:0;
	padding:0;

	background-repeat:no-repeat;
	background-color: var(--background);
  	background-image: url(http://68.media.tumblr.com/84027bc3062a8769f19fa0ee620f60a0/tumblr_n0aj0cQtQF1qhttpto3_1280.jpg);
  	background-size:cover;
  	background-position: bottom;

  
}

.whole {
	display:grid;
  	grid-template-columns:20em 1fr;
  	height:100vh;
}

a {
	color:inherit;
}
a:hover, .button:hover {
	opacity:0.75;
	cursor:pointer;
}
.form-field {
	position:relative;
	display:block;
}
.label {
	font-size:0.75em;
	position:absolute;
	top:0.33em;
	left:0.33em;
}
.input {
	text-align:right;
	min-width:10em;
	width:100%;
}
.button, .input, button {
	display:block;
	font-family:inherit;
	font-size:1em;
	background:inherit;
	border: 1px solid var(--dim-accent);
	color:currentColor;
}
.button, button {
	padding: 1px 5px;
	background:var(--dim-accent);
	cursor:pointer;
}
.button.attach {
	border-left-width:0;
}
:focus {
	outline:none;
}
textarea {
	width:100%;;
	min-width:100%;
	max-width:100%;
	border:1px solid var(--dim-accent);
	background-color:var(--dim-accent);
	color:currentColor;
	resize:vertical;
	padding:0.5em;
}
.inline > * {
	display:inline-block;
	vertical-align: middle;
}


.list {
	list-style-type: circle;
	padding:0 1.5em;
	margin:0;
}


.hidden {
	display:none;
}
.invisible {
	opacity:0;
}

.sidebar {
	background-color:var(--dark-accent);
	color:var(--translucent-white);
	overflow-y:auto;
}
.sidebar div+div {
	margin-top:0.5em;
}

.main {
	--margin: 2em;
	--game-width-restraint: calc(100vw - (var(--sidebar-width) + 2*var(--margin)));
	--game-height-restraint: calc(100vh - 2*var(--margin));
	
	background-color: var(--translucent-white);
	padding:2em;

	position: relative;
	height: var(--game-width-restraint);
	width: var(--game-width-restraint);
	max-width: var(--game-height-restraint);
	max-height: var(--game-height-restraint);

	justify-self: center;
	align-self: center;
}

.game {
	--board-gap:1px;
	--board-width:1;
	--board-height:1;
	position:relative;
	display:grid;
	grid-template-rows: 2fr 5fr;
	grid-template-columns: 2fr 5fr;
	grid-gap: var(--board-gap);
	grid-template-areas:
		"corner upper-rules"
		"side-rules game"
	;
	height: 100%;
	overflow:hidden;
}

.board {
	display:grid;
	grid-area: game;
	grid: repeat(var(--board-height),1fr) / 1fr;
	grid-gap:var(--board-gap);
}
.game-row {
	display:grid;
	grid: 1fr / repeat(var(--board-width),1fr);
	grid-gap:var(--board-gap);
}
.empty {
	--board-width:2;
	--board-height:2;
}
.vertical.clue-list {
    grid-area:upper-rules;
    grid: 1fr / repeat(var(--board-height),1fr);
	grid-gap:var(--board-gap);
}
.horizontal.clue-list {
	grid-area:side-rules;
	grid: repeat(var(--board-height),1fr) / 1fr;
	grid-gap:var(--board-gap);
}
.clue-list {
	display:grid;
}

.clue {
	position:relative;
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items:center;
    margin:0;
    padding:0;
	font-size:2vmin;
	font-size: calc((-0.002*(var(--board-width)) + 0.06)*(100vmin - 20em));
	flex: 1 1 0;
	background-color:var(--translucent-white);
}
.clue[data-solved='1'] {
	color: #ccc;
}
.vertical .clue {
	padding-bottom:1em;
}
.horizontal .clue {
	flex-direction: row;
	padding-right:1em;
}

.clue li {
	display:block;
	text-align:center;
}
.horizontal .clue li {
	width:1em;
}

.clue:nth-of-type(5n+5):not(:last-child)::after {
	content: "";
    display: block;
    position: absolute;
    background: var(--light-accent);
    --short-side: var(--board-gap);
    --long-side: 500%;
    --offset: calc(-1*var(--board-gap));
}
.vertical .clue:nth-of-type(5n+5):not(:last-child)::after {
    width: var(--short-side);
    height: var(--long-side);
    top: 0;
    right: var(--offset);
}
.horizontal .clue:nth-of-type(5n+5):not(:last-child)::after {
    height: var(--short-side);
    width: var(--long-side);
    left: 0;
    bottom: var(--offset);
}

.game-tile {
	position:relative;
	--scale-x:1;
	--scale-y:1;
	--rotate:0deg;
	--opacity:0;
	--bgcolor:var(--translucent-white);
	z-index:1;
	background-color: white; 
	overflow: hidden;
}
.game-tile > * {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-1em;
	margin-left:-50%;
	text-align: center;
	width:100%;
	font-size: 5vmin;
	line-height: 1em;
	z-index:2;
}
.game-tile[data-state='1'] > * {
	color:var(--translucent-white);
}
.game-tile:before, .game-tile:after {
	transform: rotate(var(--rotate)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
	content:"";
	display:block;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:var(--opacity);
	background-color: var(--bgcolor); 
	z-index:0;
	will-change:transform;
	transition: opacity 0.1s, transform 0.1s;
}
.game-tile[data-state="1"] {
	--scale-x:0.6;
	--scale-y:0.6;
	--opacity:1;
	--bgcolor:var(--dark-accent);
}
[data-win='true'] {
	--board-gap:0;
}
[data-win='true'] .game-tile[data-state="1"] {
	--scale-x: 1;
	--scale-y: 1;
}

.game-tile[data-state="2"] {
	--scale-y:0.8;
	--scale-x:0.2;
	--bgcolor:var(--gray-accent);
	--opacity:1;
}
.game-tile[data-state="2"]:before{
	--rotate:45deg;
}
.game-tile[data-state="2"]:after {
	--rotate:-45deg;
}
[data-win='true'] .game-tile[data-state="2"] {
	--opacity:0;
}

.game-tile[data-state="1"][data-certainty="0"] {
	--scale-x:0.3;
	--scale-y:0.3;
	--opacity:0.5;
}
.game-tile[data-state="2"][data-certainty="0"]  {
	--scale-x:0.4;
	--scale-y:0.15;
}

[v-cloak] {
	display:none;
}

.sidebar-section > *+* {
	margin-top:0.5em;
}
fieldset {
	border:1px solid var(--dim-accent);
	margin-left:0;
}

.flexy {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.game-size, .form-field {
	flex-grow:1;
}
.game-size +.game-size {
	margin-left:1em;
}

.buttons > * {
	display:inline;
}

.highlight {
	background-color:var(--highlight-color);
}

.header {
	font-size:1em;
    background: var(--light-accent);
    color: var(--dark-accent);
    padding: 0.5em;
    margin: 0;
    text-align:center;
    cursor:pointer;
}
.header.game-title {
	font-size:1.5em;
	background: var(--dark-accent);
	color:var(--light-accent);
	letter-spacing: 1ch;
}
.sidebar-section {
	padding:1em;
}
.sidebar-section + .header{
	margin-top:0.5em;
}

@media all and (max-width:800px) {
	.whole {
		display:block;
	}
	.page-section {
		width:100%;
		max-height:100%;
	}
	.main {
		width: calc(100vw - 2em);
		height: calc(100vw - 2em);
		margin:1em auto;
	}
}





